<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="utf-8"/>

    <title>Authors' editing</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span>Edit author</span></h4>
                </header>
                <article class="card-body">
                    <form th:action="@{/authorsAdmin/edit}" th:object="${author}" method="POST">
                        <input th:field="*{id}" type="hidden" class="form-control">

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Имя</label>
                                <input th:field="*{firstName}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col form-group">
                                <label>Фамилия</label>
                                <input th:field="*{lastName}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col form-group">
                                <label>Отчество</label>
                                <input th:field="*{patronymicName}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col form-group">
                                <label>Краткая биография</label>
                                <input th:field="*{shortBiography}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col form-group">
                            <label>Дата рождения</label>
                            <input th:field="*{bornDate}" type="text" class="form-control" placeholder="">
                        </div>
                            <div class="col form-group">
                                <label>Рейтинг</label>
                                <input th:field="*{rating}" type="number" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>