<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Reader Blog</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(myblog)}" />
    <br>
    <h1>Reader Blog</h1>
    <h2>release-rb-N1</h2>
    <div class="panel panel-info">

        <span th:text="Привет + ${msg}" th:unless="${msg == null}"></span>

    </div>
    <div class="panel panel-info">
        Authenticated username:
    <div sec:authentication="name"></div>
        Authenticated user roles:

    </div>
    <div class="row">
        <a  th:href="@{/signup}"><h3>SignUp</h3></a>

    </div>
    <div class="row">
        <a  th:href="@{/login}"><h3>SignIn</h3></a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}" class="nav-link text-left">Logout</a>
    </div>
</div>
</body>
</html>